*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: cloud-lucent;
    src: url(Cloud\ Lucent-Regular.ttf);
    font-family: dosis;
    src: url(Dosis-VariableFont_wght.ttf);
}

body{
    width: 100%;
    min-width: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(wallpaper.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12%;
}

.container{
    width: 600px;
    min-height: 400px;
    background-color: whitesmoke;
    padding: 40px 100px;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
    border-radius: 15px;
}

.container .login .text{
    color: black;
    font-family: cloud-lucent;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-bottom: 80px;
    display: block;
    text-transform: capitalize;
}

.container .input_group a{
    margin-bottom: 10px;
}

.login input[type = "text"], .login input[type = "password"], .login input[type = "email"]{
    width: 400px;
    height: 30px;
    border: 0;
    background: whitesmoke;
    display: block;
    margin: 24px auto;
    border: 2px solid #3498db;
    padding: 12px 10px;
    outline: none;
    color: black;
    margin-bottom: 80px;
    border-radius: 24px;
    border-width: 2.5px;
    transition: 0.25s;
}

.login input[type = "text"]:focus, .login input[type = "password"]:focus, .login input[type = "email"]:focus{
    border-color: #00b894;
}

.login .username, .login .password{
    color: black;
    font-family: cloud-lucent;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    text-transform: capitalize;
}

.login .login_regis_text{
    text-align: center;
    font-weight: 700;
}

.login .button input[type = "submit"]{
    border: 0;
    background: #3498db;
    display: block;
    margin: 20px auto;
    padding: 12px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    width: 120px;
    transition: 0.25s;
    font-family: dosis;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.login .forgetpwd_button{
    font-family: dosis;
    font-weight: 700;
    text-align: right;
}

.login .forgetpwd_button a{
    color: black;
    transition: 0.25s;
    text-decoration: none;
}

.login .forgetpwd_button a:hover{
    color: #3498db;
    text-decoration: none;
}

.login .button .signup_button{
    border: 0;
    background: #3498db;
    display: block;
    margin: 20px auto;
    padding: 12px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    width: 170px;
    transition: 0.25s;
    font-family: dosis;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.login input[type = "submit"]:hover{
    background-color: #2ecc71;
}

.login .signup_button:hover{
    background-color: #ff7675;
}